fastapi
uvicorn
sqlalchemy
pydantic
langchain
langchain-community
python-multipart
langchain-huggingface
faiss-cpu==1.11.0
httpx
google-auth
google-auth-oauthlib
google-api-python-client
python-dotenv
pytz
transformers
langchain-community
langchain-huggingface
faiss-cpu==1.11.0
sentence-transformers
google-auth-oauthlib==1.2.2